[submodule "catkin_ws/src/ros-driver_mpu9250"]
	path = catkin_ws/src/ros-driver_mpu9250
	url = https://github.com/pcdangio/ros-driver_mpu9250.git
[submodule "catkin_ws/src/ros-sensor_msgs_ext"]
	path = catkin_ws/src/ros-sensor_msgs_ext
	url = https://github.com/pcdangio/ros-sensor_msgs_ext.git
