[Unit]
Description=Stream NMEA messages from internet caster to serial USB
After=multi-user.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
ExecStart=str2str -in ntrip://caster.centipede.fr:2101/GAECH#rtcm3 -out serial://ttyUSB0:115200:8:n:1:
User=pi
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
