<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rtklawnmower">
  <xacro:macro name="casterwheel" params="prefix radius mass joint_offset">
    
    <link name="${prefix}_casterwheel">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="${radius}"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="${radius}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="${mass}"/>
            <inertia ixx="${(2/5) * mass * (radius*radius)}" ixy="0.0" ixz="0.0"
                     iyy="${(2/5) * mass * (radius*radius)}" iyz="0.0"
                     izz="${(2/5) * mass * (radius*radius)}" />
        </inertial>
    </link>

    <joint name="${prefix}_casterwheel_joint" type="fixed">
        <parent link="base_link"/>
        <child link="${prefix}_casterwheel"/>
        <origin xyz="${joint_offset}" rpy="0 0 0"/>
    </joint>
        
    <gazebo reference="${prefix}_casterwheel">
        <mu1>0.0</mu1>
        <mu2>0.0</mu2>
        <material>Gazebo/FlatBlack</material>
    </gazebo>

  </xacro:macro>
</robot>