[Unit]
Description=Pigpio daemon

[Service]
Type=forking
PIDFile=pigpio.pid
ExecStart=/usr/local/bin/pigpiod
ExecStop=systemctl kill -s SIGKILL pigpiod

[Install]
WantedBy=multi-user.target
