<launch>

    <!-- Read out binary UBX messages over Serial from Ardusimple Simplertk2b's Ublox F9P chip -->
    <node pkg="ublox_gps" type="ublox_gps" name="gps_client" output="screen">
        <rosparam command="load" file="$(find rtklm_localization)/config/ardusimple.yaml" />
        <remap from="/gps_client/fix" to="/fix" />
    </node>

</launch>