<?xml version="1.0"?>
<launch>

  <!-- Robot description -->
  <include file="$(find rtklm_description)/launch/description.launch" />

  <!-- Start sensors/actors -->
  <include file="$(find rtklm_localization)/launch/gps.launch"/>
  <include file="$(find rtklm_i2c)/launch/i2c.launch" />
  <include file="$(find rtklm_arduino)/launch/arduino.launch" />

  <!-- Start DiffDrive controller -->
  <include file="$(find rtklm_control)/launch/control.launch"/>

  <!-- Fuse GPS, Wheel odometry and IMU -->
  <include file="$(find rtklm_localization)/launch/localization.launch" />

  <!-- Map server and navigation -->
  <include file="$(find rtklm_navigation)/launch/move_base.launch" />

</launch>
